{% extends "base.html.twig" %}

{% block title %}{% trans %}Profil de{% endtrans %}
	{{ user.username }}
{% endblock %}

{% block body %}

	<h1 class="bg-light text-center my-3">{% trans %}Profil de{% endtrans %}
		{{ user.username }}</h1>

	{% if produits | length == 0 %}

		<h2 class="text-center">{% trans %}Cet utilisateur n'a pas ajouté de produit sur la plateforme !{% endtrans %}
		</h2>

	{% else %}

		<table class="table">
			<thead>
				<th>{% trans %}Nom du produit{% endtrans %}</th>
				<th>{% trans %}Catégorie{% endtrans %}</th>
				<th>{% trans %}Description{% endtrans %}</th>
				<th>{% trans %}Prix{% endtrans %}</th>
				<th></th>
			</thead>
			<tbody>
				{% for produit in produits %}
					<tr>
						<td>
							{{ produit.nom }}
						</td>
						<td>
							{{ produit.categorie }}
						</td>
						<td>
							{{ produit.description }}
						</td>
						<td>
							{{ produit.prix }}€
						</td>
						{# <td>
							<a href="{{ path('produit_show', { 'id': produit.id }) }}" class="btn btn-primary">{% trans %}Page du produit{% endtrans %}</a>
						</td> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endif %}


{% endblock %}
