{% extends "base.html.twig" %}

{% block title %}{% trans %}Détails du produit{% endtrans %}
{% endblock %}

{% block body %}

	{% for msg in app.flashes('success') %}
		<div class="alert alert-success text-center">
			{{ msg }}
		</div>
	{% endfor %}

{# affichage des msg flash #}

	<h1 class="text-center bg-light my-3">{% trans %}Fiche produit{% endtrans %} : "{{ produit.name }}"</h1>

	<div class="row">
		<div class="col-md-4">
			<img src="{{ produit.images.0 }}" alt="Image de {{ produit.name }}" style="width: 200px">
		</div>
		<div class="col md-8">
			<h3>
				{{ produit.description }}
			</h3>
			<h4>
				{{ price.unit_amount / 100 }}€
			</h4>
			<h5>
				 {% trans %}Dans la catégorie{% endtrans %} :
				 <b>AJOUTER LES CATEGORIES</b>
				 {# {{ produit.categorie }}  #}
			</h5>
			<a href="{{ path('cart_add', {'id': price.id}) }}" class="btn btn-success"><i class="fas fa-cart-plus"></i></a>
		</div>
	</div>


	{# <h2 class="text-center my-3 bg-light">{% trans %}Commentaires des utilisateurs{% endtrans %}</h2>

	{% if coms | length <= 0 %}

		<h3>
			{% trans %}Aucun commentaire{% endtrans %}
		</h3>

	{% else %}

		<table class="table table-bordered">
			<tbody>
				{% for com in coms %}
					<tr>
						<td>{% trans %}Posté par{% endtrans %}
							{{ com.auteur }}
							<br>
							<small>le
								{{ com.createdAt | date('d/m/Y à H:i:s') }}</small>
						</td>
						<td>{{ com.contenu }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}


	{% if app.user %}
		{{ form_start(cForm) }}
		{{ form_row(cForm.contenu, {
        'label': 'Votre commentaire'
    }) }}
		<button class="btn btn-primary" type="submit">{% trans %}Poster{% endtrans %}</button>
		{{ form_end(cForm) }}
	{% else %}
		<a href="{{ path('app_login') }}">{% trans %}Veuillez vous connecter pour poster un commentaire.{% endtrans %}</a>
	{% endif %} #}

{# 
	si l'utilisateur est connecté, il peut voir le formulaire pour poster un commentaire
	sinon, un lien s'affiche pour qu'il puisse se connecter
 #}

{% endblock %}
