{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Contact{% endtrans %}
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="col-md-5 mx-auto alert alert-success text-center">
			{{ message }}
		</div>
	{% endfor %}

	<h1 class="text-center mt-3">{% trans %}Contactez-nous !{% endtrans %}</h1>

	<div class="col-md-7 mx-auto">

		{{ form_start(formContact) }}

		{{ form_row(formContact.prenom, {label: 'Prénom'}) }}
		{{ form_row(formContact.nom, {label: 'Nom'}) }}
		{{ form_row(formContact.email, {label: 'Email'}) }}
		{{ form_row(formContact.contenu, {label: 'Message'}) }}

		<button type="submit" class="btn btn-primary">{% trans %}Envoyer{% endtrans %}</button>

		{{ form_end(formContact) }}

	</div>

{% endblock %}
